@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Playwrite+AU+SA:wght@100..400&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    background-image: url(../img/background.jpg);
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    height: 100vh;
}
.titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 6px 1px 1px black;
    font-size: 25px;
    margin-top: 150px;
    background-color: rgba(60, 60, 60, 0.927); 
    width: 600px;
    margin-left: 355px;
    border-radius: 80px;
    border: solid white;
    position: relative;
    margin: 100px auto;
    padding: -200px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.mb{
    margin-top: -40px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
.perguntas{
    margin-top: -100px;
    background-color: rgb(67, 67, 70);
    border: 1px solid white;
    text-shadow: 3px 1px 1px black;
    box-shadow: 3px 5px 2px rgb(0, 0, 0);
}
.perguntas, #questions {
    text-align: center;
    margin: 0 auto;
    width: 550px;
    padding: 15px;
    font-size: 23px;
    position: relative;
    border-radius: 15px;
    font-family: "EB Garamond", serif;
}
button{
    margin: 8px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #868686;
    color: white;
    font-size: 20px;
    font-family: "EB Garamond", serif;
    text-shadow: 2px 1px 2px black;
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
    border: 1px solid white;
}
#resposta{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-size: 25px;
}
.perguntas{
    display: none; 
}
.iniciar{
    text-align: center;
}
#botao-iniciar{
    text-align: center;
    font-size: 30px;
}
